body{
    background-image: url(./pink.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    text-align: center;
    font-family: cursive;
}

.btn1{
    height: 60px;
    width: 120px;
   
}
.btn2{
    height: 60px;
    width:120px;
   
}
